
#search-results {
  background: linear-gradient(to right, #00b4b6, #00d8a0);
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

#search-results a:hover {
  background-color: #009d9f;
  color: white;
}


#notificaciones {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 9999;
}

.notificacion {
  background: linear-gradient(to bottom, #0077c2, #005d91);
  color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
  padding: 10px;
}

.notificacion .titulo {
  font-size: 1.2rem;
  font-weight: bold;
}

.notificacion .mensaje {
  font-size: 1rem;
  margin-top: 5px;
}

.social-bar {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  z-index: 999;
}

.social-bar a {
  display: block;
  margin: 10px 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  font-size: 20px;
  transition: all 0.3s ease;
}

.social-bar a:hover {
  transform: translateX(-10px);
}

.social-bar a i {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
}

.social-bar a i.fa-facebook {
  background: #3b5998;
}

.social-bar a i.fa-twitter {
  background: #1da1f2;
}

.social-bar a i.fa-instagram {
  background: #e1306c;
}
